<h1>Registro</h1>
<form>
  <div class="mb-3">
    <label class="form-label" for="exampleInputEmail1">Nombre de Usuario:</label>
    <input type="email" class="form-control" id="exampleInputEmail1">
  </div>
  <div class="mb-3">
    <label class="form-label" for="mail">Mail</label>
    <input type="email" class="form-control" id="mail">
  </div>
  <div class="mb-3">
    <label class="form-label" for="password">Password</label>
    <input type="email" class="form-control" id="password">
  </div>
  <div class="mb-3">
    <label for="confirmpassword" class="form-label">Confirm Password</label>
    <input type="password" class="form-control" id="confirmpassword">
  </div>
  <div class="buttons">
    <button type="submit" class="btn btn-primary"><a href="#" class="link">Entrar</a></button>
  </div>
</form>
