<h1>Cursos matriculados</h1>
<div class="contenedorcursomatriculados">
  <div class="cursomatriculado">
    <a href="#">
        <img src="http://placeimg.com/225/125/any" class="img-fluid"/>
        <p><b>Curso JAVA</b></p>
        <p>profe x</p>
    </a>
  </div>
  <div class="cursomatriculado">
    <a href="#">
        <img src="http://placeimg.com/225/125/any" class="img-fluid"/>
        <p><b>Curso JAVA</b></p>
        <p>profe x</p>
    </a>
  </div>
  <div class="cursomatriculado">
    <a href="#">
        <img src="http://placeimg.com/225/125/any" class="img-fluid"/>
        <p><b>Curso JAVA</b></p>
        <p>profe x</p>
    </a>
  </div>
  <div class="cursomatriculado">
    <a href="#">
        <img src="http://placeimg.com/225/125/any" class="img-fluid"/>
        <p><b>Curso JAVA</b></p>
        <p>profe x</p>
    </a>
  </div>
  <div class="cursomatriculado">
    <a href="#">
        <img src="http://placeimg.com/225/125/any" class="img-fluid"/>
        <p><b>Curso JAVA</b></p>
        <p>profe x</p>
    </a>
  </div>
  <div class="cursomatriculado">
    <a href="#">
        <img src="http://placeimg.com/225/125/any" class="img-fluid"/>
        <p><b>Curso JAVA</b></p>
        <p>profe x</p>
    </a>
  </div>
  <div class="cursomatriculado">
    <a href="#">
        <img src="http://placeimg.com/225/125/any" class="img-fluid"/>
        <p><b>Curso JAVA</b></p>
        <p>profe x</p>
    </a>
  </div>
</div>
