<h1>Iccapacita</h1>
<form>
  <div class="mb-3">
    <label class="form-label">Email</label>
    <input type="email" class="form-control" id="exampleInputEmail1">
  </div>
  <div class="mb-3">
    <label for="exampleInputPassword1" class="form-label">Password</label>
    <input type="password" class="form-control" id="exampleInputPassword1">
  </div>
  <div class="buttons">
    <button type="submit" class="btn btn-primary"><a href="#" class="link">Entrar</a></button>
    <button type="submit" class="btn btn-primary"><a href="#" class="link">Registro</a></button>
  </div>
</form>
